
.box-shadow {
    background-color: #eee;
    border-radius: 30px;
    height: 85%;
    
}

.Contact {
    padding: 150px 0 0 0;
}

.Contact h5 {
    font-size: 15px;
} 

.Contact h2 {
    font-weight: 600;
    padding-bottom: 50px;
}

.Contact .left {
    width: 36%;
}

.Contact .right {
    width: 60%;
}

.Contact .box {
    border-radius: 30px;
}

.box_shadow {
    height: 40%;
}

.Contact .details {
    padding-left: 30px;
    padding-top: 50px;
}

.Contact .details h1 {
    font-size: 35px;
    padding-bottom: 20px;
}

.Contact .details p:nth-last-child(3) {
    font-size: 17px;
    padding-bottom: 30px;
}

.Contact .button {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.Contact .right {
    padding : 35px;
}

.button2 .fab {
    background-color:#ff014f;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-top: 10px;
    color: #fff;
}

.button2 .fab:hover {
    cursor: pointer;
    background-color:#eee;
    color: #ff014f;
}

.details span {
    font-weight: 500;
}

.input_container {
    padding : 10px 0 20px 0;
}


.input_text {
    display: flex;
    flex-direction: row;
   
}

input, textarea {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    
}

.input {
    margin: 10px 0;
    padding: 10px 0;
}
.input_row {
    width: 100%;
   
}

.input_row > input{
    margin-top: 10px;
}

.input_row:nth-child(1){
    padding-right: 20px;
}

.input> input, .input>textarea  {
    margin-top: 10px;
}

.btn_shadow {
    margin-left: 20px;
    font-weight: 600;
}

.btn_shadow >.fa-long-arrow-right {
    padding-left: 10px;
}


@media all and (max-width: 768px){
    .content {
        
        flex-direction: column;
    }

    .Contact .left {
        width: 100%;
        height: 1000px;
        text-align: center;
    }

    .Contact .details {
        padding-left: 0;
    }

    .button2 .fab{
        display: block;
        margin: auto;
        margin-top: 40px;
    }

    .Contact .right  {
        width: 100%;
        text-align: center;
    }
}